<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Coding Tips</title>
  </head>

  <body>
    {% if current_user.is_authenticated %}
      <div>
        Logged in as {{ current_user.username }} <a href="{{ url_for('auth_logout') }}">Log out</a>
      </div>
      {% else %}
      <a href="{{ url_for('auth_login') }}">Log in</a>
      <a href="{{ url_for('new_user') }}">Sign up</a>
    {% endif %}

    <ul>
      <li>
        <a href="{{ url_for('list_tips') }}">Show tips</a>
      </li>
      <li>
        <a href="{{ url_for('tips_form') }}">Add new</a>
      </li>
    </ul>

    {% block body %}
      <div>
        Content
      </div>
    {% endblock %}
  </body>
</html>
