{% extends "layout.html" %}

{% block body %}
  <div>
    <div class='d-flex justify-content-between'>
      <div>
        <ul class="nav">
          <li class="nav-item">
            <span class="nav-link">Sort by:</span>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{{ url_for('list_tips', sort='date', filter=filt, user=user ) }}">Date</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('list_tips', sort='likes', filter=filt, user=user) }}">Likes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('list_tips', sort='dislikes', filter=filt, user=user) }}">Dislikes</a>
          </li>
        </ul>
      </div>
      <div class="d-flex">
        <form class="form-inline">
          <label for="user">Filter by user:</label>
        <select class="form-control form-control-sm ml-1" id="user" onchange="window.location = this.value">
            {% if user %}
            <option value="{{ url_for('list_tips') }}">All Users</option>
            {% else %}
            <option selected value="{{ url_for('list_tips') }}">All Users</option>
            {% endif %}
            {% for u in users %}
              {% if user == u.strid %}
              <option selected value="{{ url_for('list_tips', filter=filt, sort=sort, user=u.strid) }}">{{ u.username }}</option>
              {% else %}
              <option value="{{ url_for('list_tips', filter=filt, sort=sort, user=u.strid) }}">{{ u.username }}</option>
              {% endif %}
            {% endfor %}
          </select>
        </form>
        <form class="form-inline ml-2">
          <label for="filter">Filter by tag:</label>
        <select class="form-control form-control-sm ml-1" id="filter" onchange="window.location = this.value">
            {% if filt %}
            <option value="{{ url_for('list_tips') }}">All Tags</option>
            {% else %}
            <option selected value="{{ url_for('list_tips') }}">All Tags</option>
            {% endif %}
            {% for tag in tags %}
              {% if filt == tag.content %}
              <option selected value="{{ url_for('list_tips', filter=tag.content, sort=sort, user=user) }}">{{ tag.content }}</option>
              {% else %}
              <option value="{{ url_for('list_tips', filter=tag.content, sort=sort, user=user) }}">{{ tag.content }}</option>
              {% endif %}
            {% endfor %}
          </select>
        </form>
      </div>
    </div>
    {% for tip in tips %}
    <div class='card mb-2'>
      <div class="card-header">
      <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex">
          <form class="form-inline" method="POST" action="{{ url_for('like_tip', id=tip.id) }}">
            <button class="btn">
              <i class="fas fa-arrow-up upvote"></i>
              <span class="text-success">{{ tip.likes }}</span>
            </button>
          </form>
          <form class="form-inline" method="POST" action="{{ url_for('unlike_tip', id=tip.id) }}">
            <button class="btn">
              <i class="fas fa-arrow-down downvote"></i>
              <span class="text-danger">{{ tip.dislikes }}</span>
            </button>
          </form>
        </div>
        
        
        <div>
          {% for tag in tip.tags %}
          <a href="{{ url_for('list_tips', filter=tag.content) }}"><span class="badge badge-info">{{ tag.content }}</span></a>
          {% endfor %}
        </div>
        <div class="text-dark float-right">{{ tip.add_date }}</div>
      </div>
    </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p>{{ tip.content }}</p>
          <footer class="blockquote-footer">Added by <cite title="Source Title">{{ tip.account.username }}</cite></footer>
        </blockquote>
        {% if current_user.id == tip.account_id %}
      <div class="d-flex mt-2">
        <form method="GET" action="{{ url_for('update_tip', id=tip.id) }}">
          <button class="btn btn-primary" type="submit">Update</button>
        </form>
  
        <!-- lisää alert confirmation -->
        <form method="POST" action="{{ url_for('delete_tip', id=tip.id) }}">
          <button class="btn btn-danger" type="submit">Delete</button>
        </form>
      </div>
      {% endif %}
      </div>
      {% if tip.links %}
        <a class="card-link ml-2" id="headingOne">
          <h2>
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{{tip.id}}" aria-expanded="true" aria-controls="collapseOne">
              <strong>More information</strong>
            </button>
          </h2>
        </a>
    
        <div id="collapse{{ tip.id }}" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
          <ul class="list-group list-group-flush">
            {% for link in tip.links %}
            <li class="list-group-item">
              <a href="{{ link.url }}">{{ link.url }}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
    </div>
    {% endfor %}
  </div>
  <br/>
{% endblock %}