{% extends "layout.html" %}

{% block body %}
  <div>
    {% for tip in tips %}
    <div>
      <!-- tip user puuttuu! pitää populoida -->
      <div>{{ tip.content }}</div>
      <div><i>{{ tip.add_date }}</i></div>
      <div>Upvotes: {{ tip.likes }}</div>
      
      <div>Downvotes: {{ tip.dislikes }}</div>
      {% if current_user.id == tip.account_id %}
      <form method="GET" action="{{ url_for('update_tip', id=tip.id) }}">
        <input type="submit" value="Update"/>
      </form>

      <!-- lisää alert confirmation -->
      <form method="POST" action="{{ url_for('delete_tip', id=tip.id) }}">
        <input type="submit" value="Delete"/>
      </form>
      {% endif %}
      {% if current_user.id != tip.account_id %}
      <form method="POST" action="{{ url_for('like_tip', id=tip.id) }}">
        <input type="submit" value="Like"/>
      </form>
      <form method="POST" action="{{ url_for('unlike_tip', id=tip.id) }}">
        <input type="submit" value="Unike"/>
      </form>
      {% endif %}
      <br/>
    </div>
    {% endfor %}
  </div>
  <br/>
{% endblock %}