{% extends "layout.html" %}
  
{% block body %}
<div class="">
  <form method="POST" action="{{ url_for('tips_create') }}">
    <div class='form-group'>
      <div>{{ form.content.label }}</div>
      <div>{{ form.content(class_='form-control') }}</div>
      {% for error in form.content.errors %}
      <small class="text-danger">{{ error }}</small>
      {% endfor %}
    </div>
    {% if form.tags %}
    <div>
      <h6>Tags related to your tip:</h6>
    </div>
    {% endif %}
    <div class='d-flex'>
      {% for tag in form.tags %}
      <span class="badge badge-info mr-1">
        {{ tag }}
      </span>
      {% endfor %}
    </div>
    <div class="form-group form-inline mt-3">
      {{ form.tag.label }}
      {{ form.tag(class_='form-control mx-sm-3' ) }}
      {{ form.add_tag(class_='btn btn-primary') }}
      <small class="text-danger ml-2">
        {{ tagError }}
      </small>
    </div>

    {% if form.links %}
    <div class="mt-3">
      <h6>Links for additional information:</h6>
      <ul class="list-group list-group-flush">
        {% for link in form.links %}
          <li class="list-group-item">
            <a href="{{ link }}">{{ link }}</a>
          </li>
      {% endfor %}
      </ul>
    </div>
    {% endif %}
    
    <div class="form-group form-inline mt-3">
      {{ form.link.label }}
      {{ form.link(class_='form-control mx-sm-3' ) }}
      {{ form.add_link(class_='btn btn-primary') }}
      <small class="text-danger ml-2">
        {{ linkError }}
      </small>
    </div>

    <div class="form-group">
      <button class="btn btn-primary">
        Create tip
      </button>
    </div>
  </form>
</div>
{% endblock %}