{% extends "layout.html" %}

{% block body %}
  <table class="table">
    <thead>
        <tr>
            <th scope="col">Username</th>
            <th scope="col">Total tips</th>
            <th scope="col">Total likes</th>
            <th scope="col">Total dislikes</th>
            <th scope="col">Most liked tip</th>
          </tr>
    </thead>
    {% for user in users %}
      <tr>
        <td>{{ user.username }}</td>
        <td>{{ user.tips|length }}</td>
        <td>{{ user.likes }}</td>
        <td>{{ user.dislikes }}</td>
        <td>
          {% if user.mostLiked %}
          <a href="{{ url_for('show_tip', id=user.mostLiked[0]) }}">{{ user.mostLiked[1][0:10] }}...</a> ({{ user.mostLiked[2] }} likes)
          {% else %}
          No likes yet
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </div>
{% endblock %}