{% extends "layout.html" %}

{% block body %}
<div class="d-flex m-5 justify-content-around">
  <div>
    <strong class="card-title">User with most tips:</strong>
    <span>{{ mostTips.username }}</span> <span>(<a href="{{ url_for('list_tips', user=mostTips.id) }}">{{ mostTips.tips|length }} tips</a>)</span>
  </div>
  <div>
    <strong class="card-title">User with most likes:</strong>
    <span>{{ mostLikes.username }}</span> <span>({{ mostLikes.likes }} likes)</span>
  </div>
  <div>
    <strong class="card-title">User with most dislikes:</strong>
    <span>{{ mostDislikes.username }}</span> <span>({{ mostDislikes.dislikes }} dislikes)</span>
  </div>

</div>
  <table class="table text-center">
    <thead>
        <tr>
            <th scope="col">Username</th>
            <th scope="col">Total tips</th>
            <th scope="col">Total likes</th>
            <th scope="col">Total dislikes</th>
            <th scope="col">Most liked tip</th>
          </tr>
    </thead>
    <tbody>
      {% for user in users %}
      <tr>
        <td>
          <div class="d-flex justify-content-center">
            <div>
              {{ user.username }}
            {% if user.isAdmin %}
              <small class="text-muted">(admin)</small>
            {% endif %}
            </div>
            {% if current_user.isAdmin and not user.isAdmin %}
              <form class="ml-2" method="POST" action="{{ url_for('make_admin', id=user.id) }}">
                <button type="submit" class="btn btn-outline-primary btn-sm">
                  Make admin
                </button>
              </form>
            {% endif %}
          </div>
        </td>
        <td><a href="{{ url_for('list_tips', user=user.id) }}">{{ user.tips|length }}</a></td>
        <td>{{ user.likes }}</td>
        <td>{{ user.dislikes }}</td>
        <td>
          {% if user.mostLiked %}
          <a href="{{ url_for('show_tip', id=user.mostLiked[0]) }}">{{ user.mostLiked[1][0:10] }}...</a> ({{ user.mostLiked[2] }} likes)
          {% else %}
          No likes yet
          {% endif %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </div>
{% endblock %}